[submodule "RoomBooking"]
	branch = master
	path = RoomBooking
	url = https://github.com/SmartCampus806/RoomBooking.git
[submodule "Notifications"]
	path = Notifications
	url = https://github.com/SmartCampus806/notification.git
[submodule "Frontend"]
	branch = test_info_block
	path = Frontend
	url = https://github.com/hell-lumpen/room-booking-vite.git
